.section {
    padding: 80px 350px; /* Adjust padding to your preference */
  }
  
  .section-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 60px;
  }
  
  .category-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .category-item {
    position: relative;
  }
  
  .category-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    width: 100%;
    text-align: left;
  }
  
  .category-name {
    flex-grow: 1;
  }
  
  .category-icon {
    font-weight: bold;
    margin-left: 5px;
  }
  
  .category-icon.open:before {
    content: '-';
  }
  
  .category-icon.closed:before {
    content: '+';
  }
  
  .resource-list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin-top: 5px;
    padding: 10px;
  }
  
  .resource-item {
    font-size: 16px;
    color: #333;
    margin-bottom: 40px;
  }
  
  .resource-item a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .resource-item a:hover {
    color: #007bff;
  }
  
  @media (max-width: 1024px) {
    .section {
      padding: 80px 30px; /* Adjust padding to your preference */
    }
  }
  
  /* Add additional CSS styling as per your website's design */
  